<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
        <title>Udacity Project - Capstone</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css/scss" href="../styles/base.scss">
        <link rel="stylesheet" type="text/css/scss" href="../styles/form.scss">
</head>

<body>
  <header>
    <div class="header">
        <h1>Travel App</h1>
        <h2>Get the weather for any date & location you want to travel to!</h2> 
    </div>
  </header>

<main>
  <div id="input">
    <section class="travel-planner">
      <div>
        <h4>Create your travel plan</h4>
            <p class="instructions">Add your destination city and travel dates and the forecasted weather will appear below. </p>
      </div>

      <form action="" id="create-plan" class="form" onsubmit="return Client.handleSubmit(event)">
        <div>
          <label class="location">Destination:</label>
            <input type="text" name="location" id="loc-input" placeholder="e.g. Dallas" required>
          <label class="departure">Departure Date:</label>
            <input id="startDate" name="departure" type="date" required>
          <label class="return">Return Date:</label>
            <input id="returnDate" name="return" type="date" required>
            <input type="submit" value="Get Trip Details" id="submitBtn" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </div>
      </form>
    </section>  

<!-- Results -->
    <section class="results" id="plannerResults">
        <div class="input">
          <img id="image"  class="image"  alt="">
        </div>

        <div>
          <h4 class="place-info">Trip details:</h4> 
            <p>Your trip to <span class="city"></span>, <span class="country"></span>leaving on <span id="departure"></span>is <span id="days"></span> days away.</div>
            </p>
            <br></br>

            <div class="weather-info">
              <h4 class="weather-title">The forecasted weather is:</h4>
                <p class="temps">High: <span id="highTemp"></span>&#8451;, Low: <span id="lowTemp"></span>&#8451;</p>
                <p class="weather-details">Should have <span id="weatherCondition"></span> throughout the day.</p>
            </div>

            <div class="print-delete-btns">
                <button id="printBtn" onclick="window.print()">Print</a>
                <button id="deleteBtn" onclick="Client.deleteBtn()" href="#">Reset</a>
            </div>
        </div>

    </section>  
  </div> 
</main>

<footer>
    <h2>Thanks for using our TravelApp service! 
            <br></br>
        <div id = "API_credits">
            <a class = "link" href = "https://www.geonames.org/export/web-services.html" target="_blank">GeoNames </a> | 
            <a class = "link" href = "https://www.weatherbit.io/api" target="_blank">Weatherbit </a> | 
            <a class = "link" href = "https://pixabay.com/api/docs/" target="_blank"> Pixabay</a>
    </div>
    </h2>
</footer>

        <script>     
            // Check that service workers are supported     
            if ('serviceWorker' in navigator) {         
            // Use the window load event to keep the page load performant         
                window.addEventListener('load', () => {             
                    navigator.serviceWorker.register('./dist/service-worker.js').then(function(registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(error) {
                        // Registration failed
                        console.log('ServiceWorker registration failed: ', error);
                        });
                    });
                };       
        </script> 

</body>
</html>