$color_1: white;
$color_2: black;
$color_3: #24826A;
$color_4: red;
$font-family_1: "Gill Sans", sans-serif;
$font-family_2: Helvetica, serif;
$font-family_3: "Courier New", monospace;
$background-color_1: whitesmoke;
$background-color_2: #666;
$background-color_3: #333;
$background-color_4: #24826A;

body {
    font-family: $font-family_2;
    width: 100%;
    text-align: center;
    background-color: $background-color_3;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	background-color: $background-color_3;
}
.header {
    background-color: $background-color_2;
    text-align: center;
}
#header {
    background-color: $background-color_2;
    text-align: center;
}
h1 {
    margin: 1em;
    font-family: $font-family_1;
    font-size: xx-large;
    color: $color_1;
    text-transform: uppercase;
}
h2 {
    margin: 1.5em;
    font-family: $font-family_2;
    font-size: large;   
    color: $background-color_1;
    // font-style: italic;
}
h3 {
    margin: 1.5em;
    font-family: $font-family_1;
    font-size: medium;
    color: $color_1;
} 
h4 {
    font-family: $font-family_1;
    font-size: large;
    color: $color_3;
    text-transform: uppercase;
} 
h5 {
    font-family: $font-family_1;
    font-size: medium;
    color: $color_2;
} 
p {
    font-family: $font-family_2;
    font-size: medium;
    color: $color_2;   
}
a {
    font-family: $font-family_1;
    font-size: medium;
    color: $color_3;
}
#printBtn {
    background: $background-color_4;
    border: 1px solid $color_3;
    box-shadow:  3px $color_2;
    border-radius: 5px;
    color: $color_1;
    font-size: medium;
    margin: 25px 25px;
    padding: 6px 24px;
}
#deleteBtn {
    background: $color_4;
    border: 1px solid $color_3;
    box-shadow:  3px $color_2;
    border-radius: 5px;
    color: $color_1;
    font-size: medium;
    margin: 25px 25px;
    padding: 6px 24px;
}
.image {
    max-width: 250px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 15px;
}
#planner-results {
    display: none;
}
.results {
	border: 2px solid $background-color_3;
	border-radius: 3px;
	padding: 40px;
	background-color: $background-color_1;
}
#results {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: $color_2 1px;
    background-color: $background-color_2;
    border-radius: 15px;
    margin: 10px;
    align-items: right;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 10px 20px 0 $background-color_1;
    font-family: $font-family_2;
}
.resultsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
    text-align: center;
    word-wrap: normal;
    margin: 5px;
}
#resultsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100%;
    text-align: right;
    word-wrap: normal;
    margin-top: 10px;
    margin-bottom: 15px;
}
footer {
	text-align: center;
	justify-content: space-between;
	padding: 10px 30px;
	background-color: $background-color_3;
}


@media (min-width: 768px) {
    body{
        width: 600px;
        max-width: 80%;
       margin: auto;
    }
    .main-img {
        width: 400px;
      max-width: 600px;
    }
  }