$color_1: white;
$color_2: black;
$color_3: #24826A;
$color_4: #ac0000;
$font-family_1: "Gill Sans", sans-serif;
$font-family_2: Helvetica, serif;
$font-family_3: "Courier New", monospace;
$background-color_1: whitesmoke;
$background-color_2: #ccc;
$background-color_3: #333;
$background-color_4: #1a4d66;


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color_1;
}
main {        
    background-color: $color_1;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: $background-color_4;
}
.header {
    text-align: left;
    padding: 10px 40px;
}
#header {
    background-color: $background-color_3;
    text-align: leftr;
}
h1 {
    margin: 1em;
    font-family: $font-family_1;
    font-size: xx-large;
    color: $color_1;
    text-transform: uppercase;
}
h2 {
    margin: 1.5em;
    font-family: $font-family_2;
    font-size: large;   
    color: $background-color_1;
    // font-style: italic;
}
h3 {
    margin: 1.5em;
    font-family: $font-family_1;
    font-size: medium;
    color: $color_1;
} 
h4 {
    font-family: $font-family_1;
    font-size: large;
    color: $color_3;
    text-transform: uppercase;
} 
h5 {
    font-family: $font-family_1;
    font-size: medium;
    color: $color_2;
} 
p {
    font-family: $font-family_2;
    font-size: medium;
    color: $color_2;   
}
a {
    font-family: $font-family_1;
    font-size: medium;
    color: $color_3;
}
#printBtn {
    background: $color_3;
    border: 1px solid $color_2;
    box-shadow:  5px $background-color_3;
    border-radius: 5px;
    color: $color_1;
    font-family: $font-family_2;
    font-size: medium;
    margin: 25px 25px;
    padding: 6px 24px;
    cursor: pointer;
}
#deleteBtn {
    background: $color_4;
    border: 1px solid $color_2;
    box-shadow:  5px $background-color_3;
    border-radius: 5px;
    color: $color_1;
    font-family: $font-family_2;
    font-size: medium;
    margin: 25px 25px;
    padding: 6px 24px;
    cursor: pointer;
}
.image {
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 15px;
}
#plannerResults {
    display: none;
}
.results {
	padding: 40px;
	background-color: $background-color_2;
    justify-content: center;
}
#results {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color_2;
    margin: 10px;
}
footer {
	text-align: center;
	justify-content: space-between;
	padding: 10px 30px;
	background-color: $background-color_3;
}


@media (min-width: 768px) {
    body{
        width: 80%;
        max-width: 100%;
       margin: auto;
    }
    .main-img {
        width: 400px;
      max-width: 600px;
    }
  }