$color_1: white;
$color_2: black;
$color_3: #24826A;
$color_4: #ac0000;
$font-family_1: "Gill Sans", sans-serif;
$font-family_2: Helvetica, serif;
$font-family_3: "Courier New", monospace;
$background-color_1: whitesmoke;
$background-color_2: #ccc;
$background-color_3: #333;
$background-color_4: #1a4d66;

.travel-planner{
    max-width: 100%;
    padding: 10px 40px;
    margin: 20px, 0px;
    background:$background-color_2;
    color: $color_2;
}
#create-plan{
    line-height: 40px;
}
label {
    // display: flex;
    align-items: left;
    font-size: medium;
    font-family: $font-family_2;
    margin: 10px 5px;
} 
input {
    margin: 10px auto;
    display: block;
    width: 80%;
    padding: 10px;
    color: $color_2;
    background-color: $color_1;
    border: 1px solid $color_2;
    border-radius: 3px;
    box-shadow: 3px $color_2;
}
#submitBtn {
    background: $background-color_4;
    border: 1px solid $color_2;
    box-shadow:  5px $background-color_3;
    border-radius: 5px;
	color: $color_1;
	font-family: $font-family_2;
    font-size: medium;
	padding: 6px 24px;
    margin: 25px auto;
    cursor: pointer;
}
#submit-btn:hover {
    background: $background-color_3;
    color: $color_1;
}

form {
	padding: 40px;
}

